<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
 
    <link href="normal.css" rel="stylesheet" type="text/css" media="screen">

  </head>
  <body id="contenido">
    <header id="header">Información de los autores</header>
    <div id="main">
      <article>
        <h1>Los autores de este Quiz somos Álvaro García Cascallana y David Pardo</h1>
        <p>Este es Álvaro García</p>
        <img src="/image.jpg" width="90" height="110">
        <p> Y este es David Pardp</p>
        <img src="/retrato.jpg" width="110" height="110">

      </article>

    </div>
    <footer id="footer"><ul>
    <li><a href="javascript:history.back()">Volver a la página inicial</a></li>
    <li><script type="text/javascript">
  
          document.write("<font color='black' >"+"Fecha :  " +new Date());

      </script> </li></ul>
    </footer>
  
  </body>
</html>                
