<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
  </head>
  <body>
    <p>
      <%= respuesta %>
      <a href="/quizes/question">Intentelo otra vez</a>
    </p>
  </body>
</html>


