<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8"><title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="icon" href="favicon.ico" type="image/x-icon"/>
  </head>
  <body>
    <form method="get" action="/quizes/answer">
    	Pregunta:<%= pregunta %> <p>
    	<input type="text" name="respuesta" value="Responda aquí"/>
    	<input type="submit" value="Enviar"/>
    </form>
  </body>
</html>



